/* ocean */
/* Light Mode */
.keyword {
    color: #2563eb;
    /* Vibrant Blue */
}

.function {
    color: #0284c7;
    /* Deep Sky Blue */
}

.punctuation {
    color: #475569;
    /* Cool Slate Gray */
}

.comment {
    color: #64748b;
    /* Muted Slate */
}

.string,
.constant,
.annotation,
.boolean,
.number {
    color: #0369a1;
    /* Dark Cyan */
}

.tag {
    color: #1e40af;
    /* Indigo */
}

.attr-name {
    color: #0ea5e9;
    /* Light Sky Blue */
}

.attr-value {
    color: #2563eb;
    /* Bright Blue */
}

/* Dark Mode */
.dark .keyword {
    color: #93c5fd;
    /* Soft Blue */
}

.dark .function {
    color: #38bdf8;
    /* Sky Blue */
}

.dark .string,
.dark .constant,
.dark .annotation,
.dark .boolean,
.dark .number {
    color: #60a5fa;
    /* Light Blue */
}

.dark .tag {
    color: #3b82f6;
    /* Bold Blue */
}

.dark .attr-name {
    color: #67e8f9;
    /* Aqua */
}

.dark .attr-value {
    color: #93c5fd;
    /* Frosty Blue */
}
